$dark: #0a0603;
$secondary: #140c06;
$primary: #ffc80c;
$light: $primary;
$navbar-dark-color: $primary;
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: $primary;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: #f8842a;

@import "node_modules/bootstrap/scss/bootstrap";
@import "crt";

@font-face {
  font-family: 'JetBrains Mono';
  src: url("./fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "JetBrains Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $dark;
}
html {
  background-color: $dark
}

.page {
  height: 50vh
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}